* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.font_poppins {
  font-family: "Poppins", sans-serif;
}

:root {
  --fs-xsm: 18px;
  --fs-sm: 22px;
  --fs-md: 28px;
  --fs-lg: 36px;
  --fs-xl: 48px;
  --fs-xxl: 96px;

  --fw-normal: 400;

  --fw-sesmibold: 600;
  --fw-bold: 700;

  --color-yellow: #f06500;
}

.fs_18 {
  font-size: var(--fs-xsm);
}
.fs_22 {
  font-size: var(--fs-sm);
}
.fs_28 {
  font-size: var(--fs-md);
}
.fs_36 {
  font-size: var(--fs-lg);
}
.fs_48 {
  font-size: var(--fs-xl);
}
.fs_96 {
  font-size: var(--fs-xxl);
}

.text_yellow {
  color: var(--color-yellow);
}
.opacity {
  opacity: 0.7;
}
/* ====================================Lodder========================================= */
.lodder_wapper {
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==============================Nav======================================= */
.box_5 {
  width: 100vw !important;
  min-height: 100vh !important;
  background: linear-gradient(90deg, #ffa800 0%, #f06500 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.lodder_bg {
  background: linear-gradient(90deg, #ffa800 0%, #f06500 100%) !important;
}
.hover:hover {
  text-decoration: underline !important;
  cursor: pointer;
}
.hide {
  /* width: 100vw !important; */
  min-height: 100vh !important;
  position: absolute;
  left: -100%;
  top: 0;
}

.line1 {
  border: 2px solid;
  color: #f06500;
  width: 30px;
}

.hadder {
  position: absolute;
  width: 38%;
  top: 0;
  z-index: -1;
}
.bg_clr {
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(8px);
}
.connect_button {
  background: linear-gradient(90deg, #ffa800 0%, #f06500 100%);
  border-radius: 23.5px;
  padding: 7px 23px;
}
.connect_button:hover {
  background: linear-gradient(90deg, #f06500 100%, #ffa800 0%);
}
.herder_bg_img {
  background-image: url(../src/assents/image/png/header-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all ease-in-out 500ms !important;
}
.box_herder {
  background: linear-gradient(
    94.88deg,
    rgba(255, 255, 255, 0.05) 0.97%,
    rgba(255, 255, 255, 0) 103.14%
  );
  backdrop-filter: blur(16px);

  border-radius: 10px;
  /* position: absolute;
  bottom: -27%;
  padding: 12px; */
}
/* ===========================================Cursus================================================ */
.cursus_bg_clr {
  background: #0c0b0b;
}

.line {
  position: absolute;
  width: 10%;
  bottom: 0;
  right: 0;
}
/* =================================================buy======================================================== */

.buy_bg_clr {
  background: #1d1a1a;
}
.btun_1 {
  color: #000;
  background: white;
  padding: 20px 31px;
  border-radius: 50px;
  border: none;
  margin: 13px 10px;
  transition: all 700ms ease-in-out;
}
.border_box:hover .btun_1 {
  background: linear-gradient(90deg, #ffa800 0%, #f06500 100%);
  color: white;
  transition: all 700ms ease-in-out;
}

.border_box {
  background: #151313;
  border-radius: 46px;
}
.border_box:hover {
  background: #0c0b0b;
  transition: all 700ms ease-in-out;
}
.w_100 {
  width: 100%;
}
/* ======================================================tokenomics========================================================= */
.tokenomics_bg_clr {
  background: #0c0b0b;
}
.box_2 {
  border: 2px solid;
  background: linear-gradient(
    94.88deg,
    rgba(255, 255, 255, 0.1) 0.97%,
    rgba(255, 255, 255, 0) 103.14%
  );
  backdrop-filter: blur(16px);

  padding: 20px 16px;
  border-radius: 10px;
}

.border_box3 {
  border: 2px solid;
  background: linear-gradient(
    94.88deg,
    rgba(255, 255, 255, 0.05) 0.97%,
    rgba(255, 255, 255, 0) 103.14%
  );
  backdrop-filter: blur(16px);

  border-radius: 10px;
}
.box {
  background: #00e396;
  border-radius: 4px;
  padding: 20px 20px;
}
.box_red {
  background: #f06500;
  border-radius: 4px;
  padding: 20px 20px;
}
.box_blue {
  padding: 20px 20px;
  background: #8b35e2;
  border-radius: 4px;
}
.box_light {
  padding: 20px 20px;
  background: #00b2ff;
  border-radius: 4px;
}
.box_oringe {
  padding: 20px 20px;
  background: #ffa800;
  border-radius: 4px;
}
.box_light_red {
  padding: 20px 20px;
  background: #ff4560;
  border-radius: 4px;
}
/* ===============================roadmap================================= */

.timeline_items {
  position: relative;
  width: 50%;
  /* gap: 40px; */
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.right1 {
  left: 50%;
}

/* .timeline_items div {
  background-color: red;
  padding: 15px;
} */

.timeline {
  position: relative;
}

.timeline::after {
  content: "";
  height: 75%;
  width: 3px;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0%;
}

.timeline_items::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  background: linear-gradient(180deg, #ffa800 0%, #f06500 100%);
  top: 0;
}

.right1::after {
  left: 0%;
  transform: translateX(-50%);
}

.left1::after {
  left: 100%;
  transform: translateX(-50%);
}
.line2 {
  position: absolute;
  top: -12%;
  right: 0;
}
.line3 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.w_18 {
  width: 18%;
}
/* ===========================================faq============================================== */
.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: black !important;
  border: none !important;
}
.accordion-item {
  color: white !important;
  background-color: black !important;
  /* border: white !important; */
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url(./assents/image/png/down.png) !important;
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion {
  --bs-accordion-color: #212529;
  --bs-accordion-bg: #000 !important;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: #2c2b2b !important;
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 10px !important;
  --bs-accordion-inner-border-radius: 10px !important;
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #212529;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-focus-border-color: rgb(94, 91, 91) !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  /* --bs-accordion-active-color: #0c63e4; */
  /* --bs-accordion-active-bg: #e7f1ff; */
}
.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  color: white !important;
  text-align: left;

  background: linear-gradient(
    94.88deg,
    rgba(255, 255, 255, 0.05) 0.97%,
    rgba(255, 255, 255, 0) 103.14%
  );

  border-radius: 10px !important;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
.border_clr {
  /* border-color: #343333 !important; */
  border-radius: 10px;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* font-family: inherit; */
  font-size: inherit;
  line-height: inherit;
}
@media (max-width: 576px) {
  :root {
    --fs-xsm: 12px;
    --fs-sm: 12px;
    --fs-md: 28px;
    --fs-lg: 36px;
    --fs-xl: 22px;
    --fs-xxl: 44px !important;
    --fw-normal: 400;
    --fw-sesmibold: 600;
    --fw-bold: 700;
    --color-yellow: #f06500;
  }
  .col_12 {
    width: 100%;
    /* padding-top: 20px;
    padding-bottom: 50px; */
  }

  .right1 {
    left: 0px;
  }

  .right1::after {
    left: 20px;
  }

  .left1::after {
    left: 20px;
  }

  .timeline::after {
    left: 20px;
  }
}
/* .btun_1 {
  color: #000;
  background: white;
  padding: 24px 31px;
  border-radius: 50px;
  border: none;
  margin: 13px 10px;
  transition: all 700ms ease-in-out;
} */

@media (min-width: 576px) {
  :root {
    --fs-xsm: 12px;
    --fs-sm: 12px;
    --fs-md: 28px;
    --fs-lg: 36px;
    --fs-xl: 28px;
    --fs-xxl: 44px !important;
    --fw-normal: 400;
    --fw-sesmibold: 600;
    --fw-bold: 700;
    --color-yellow: #f06500;
  }
}
@media (min-width: 992px) {
  :root {
    --fs-xsm: 18px;
    --fs-sm: 22px;
    --fs-md: 28px;
    --fs-lg: 36px;
    --fs-xl: 48px;
    --fs-xxl: 80px !important;
    --fw-normal: 400;
    --fw-sesmibold: 600;
    --fw-bold: 700;
    --color-yellow: #f06500;
  }
  .top_12 {
    top: 8%;
    position: absolute;
    right: 0;
    width: 50%;
    height: 88%;
  }
}
/* @media (min-width: 1240px) {
  .min-100 {
    min-height: 100vh;
  }
} */
@media (min-width: 768px) {
  :root {
    --fs-xsm: 17px;
    --fs-sm: 22px;
    --fs-md: 28px;
    --fs-lg: 36px;
    --fs-xl: 47px;
    --fs-xxl: 70px !important;
    --fw-normal: 400;
    --fw-sesmibold: 600;
    --fw-bold: 700;
    --color-yellow: #f06500;
  }
}
